<div class="nfts-area bg-f6f6f6 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Popular Assets</h2>
            <a routerLink="/explore-1" class="default-btn border-radius-5">Explore More</a>
        </div>
        <div
            class="row justify-content-center"
            [ngClass]="{'d-none': router?.url === '/index-3'}"
            *ngIf="nftItemsData"
        >
            <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let content of nftItemsData.slice(0, 8)">
                <div class="featured-item">
                    <div class="image">
                        <a
                            [routerLink]="['/nft-item', content.attributes.slug]"
                            class="d-block"
                        >
                            <img [src]="content.attributes.nftImage.data.attributes.url" alt="nft-image">
                        </a>
                        <div class="featured-user">
                            <a
                                [routerLink]="['/author', content.attributes.author.data.attributes.slug]"
                                class="featured-user-option"
                            >
                                <img [src]="content.attributes.authorImage.data.attributes.url" alt="author-image">
                                <span>Created by @{{content.attributes.author.data.attributes.username}}</span>
                            </a>
                        </div>
                        <button type="button" class="default-btn border-radius-5">Place Bid</button>
                        <!-- convert your date to timestamps https://www.epochconverter.com/ -->
                        <div class="countdown" *ngIf="content.attributes.timer" simpleCountdown [dateTo]="content.attributes.timer"></div>
                    </div>
                    <div class="content">
                        <h3>
                            <a [routerLink]="['/nft-item', content.attributes.slug]">
                                {{content.attributes.title}}
                            </a>
                        </h3>
                        <div class="content-in">
                            <span>100 ETH 12/14</span>
                            <span>Bid {{content.attributes.price}} ETH </span>
                        </div>
                        <div class="featured-content-list">
                            <ul>
                                <li>
                                    <img src="assets/images/author/author2.jpg" alt="author-image">
                                </li>
                                <li>
                                    <img src="assets/images/author/author3.jpg" alt="author-image">
                                </li>
                                <li class="title">10+ Placed Bid</li>
                            </ul>
                            <p><i class="ri-heart-line"></i> 122</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- For Home Demo - 3 -->
        <div
            class="row justify-content-center d-none"
            [ngClass]="{'d-flex': router?.url === '/index-3'}"
            *ngIf="nftItemsData"
        >
            <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let content of nftItemsData.slice(0, 8)">
                <div class="featured-card">
                    <div class="image">
                        <a
                            [routerLink]="['/nft-item', content.attributes.slug]"
                            class="d-block"
                        >
                            <img [src]="content.attributes.nftImage.data.attributes.url" alt="nft-image">
                        </a>
                        <span class="fav"><i class="ri-heart-line"></i> 122</span>
                        <button type="button" class="default-btn border-radius-5">Place Bid</button>
                        <!-- convert your date to timestamps https://www.epochconverter.com/ -->
                        <div class="countdown" *ngIf="content.attributes.timer" simpleCountdown [dateTo]="content.attributes.timer"></div>
                    </div>
                    <div class="content">
                        <h3>
                            <a [routerLink]="['/nft-item', content.attributes.slug]">
                                {{content.attributes.title}}
                            </a>
                        </h3>
                        <div class="content-in">
                            <div class="featured-card-left">
                                <span>100 ETH 12/14</span>
                                <h4>Bid {{content.attributes.price}} ETH </h4>
                            </div>
                            <a
                                [routerLink]="['/nft-item', content.attributes.slug]"
                                class="featured-content-btn"
                            >
                                <i class="ri-arrow-right-line"></i>
                            </a>
                        </div>
                        <a
                            [routerLink]="['/author', content.attributes.author.data.attributes.slug]"
                            class="featured-user-option"
                        >
                            <img [src]="content.attributes.authorImage.data.attributes.url" alt="author-image">
                            <span>Created by @{{content.attributes.author.data.attributes.username}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>