        <div class="feedback-slider" style="padding: 20px">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <div class="feedback-item">
                        <img src="https://theme.hstatic.net/1000246282/1000726217/14/banner-center-3.jpg?v=1415" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="feedback-item">
                        <img src="https://theme.hstatic.net/1000246282/1000726217/14/banner-center-4.jpg?v=1415" alt="image">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="feedback-item">
                        <img src="https://theme.hstatic.net/1000246282/1000726217/14/banner-center-3.jpg?v=1415" alt="image">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>

        <!-- Slider For Home Demo - 3 -->
