<p-toast></p-toast>
<div class="container-fluid">
  <!-- <app-page-title title="Điểm danh" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
      <div class="card">
        <div class="card-body">
          <h2>Quản lý người dùng</h2>
          <!-- <div class="row my-4">
            <div class="col-md-2">
              <label>Tên người dùng</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2">
            </div>

          </div> -->
          <div class="row mb-3">
            <div class="col-md-10"></div>
            <div class="col-2">
              <div class="text-end">
                <button class="btn btn-primary btn-rounded" (click)="addUser()">Thêm người dùng</button>
              </div>
            </div>
          </div>
          <p-table responsiveLayout="scroll" [value]="lstUser" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,25,50]"
          [rowHover]="true">
          <ng-template pTemplate="header">
              <tr >
                <th>STT</th>
                <th>Tên đăng nhập</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>Số điện thoại</th>
                <th>Trạng thái</th>
                <th></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-i="rowIndex">
              <tr>
                <td>{{ i+1 }}</td>
                <td>{{ item.USER_NAME }}</td>
                <td>{{ item.FULL_NAME }}</td>
                <td>{{ item.BIRTH_DATE | date: 'dd/MM/yyyy'}}</td>
                <td>{{ item.PHONE_NUMBER  }}</td>
                <td *ngIf="item.STATUS == false">
                  <span class="badge badge-soft-secondary">Đã chặn</span>
                </td>
                <td *ngIf="item.STATUS == true">
                  <span class="badge badge-soft-success">Đang hoạt động</span>
                </td>
                <td>
                  <div class="d-flex">
                    <i class="bx bx-edit-alt fs-4 mx-1 edit" (click)="edit(item)"></i>
                    <i *ngIf="item.STATUS == true" class="bx bx-block fs-4 mx-1 del" (click)="delete(item)"></i>
                    <i *ngIf="item.STATUS == false" class="bx bx-check-shield fs-4 mx-1 active" (click)="active(item)"></i>
                  </div>
                </td>
              </tr>
          </ng-template>
        </p-table>
        </div>
      </div>
</div>
