<!-- Footer -->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-8">
                <div class="footer-widget">
                    <a routerLink="/" class="logo">
                        <img src="assets/images/black-logo.png" alt="logo">
                    </a>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="footer-widget ps-5">
                    <h3>Về chúng tôi</h3>
                    <ul class="footer-list">
                        <li>
                            <a routerLink="/">
                                Câu chuyện thương hiệu
                            </a>
                        </li>
                        <li>
                            <a routerLink="/">
                                Quy định và hình thức thanh toán
                            </a>
                        </li>
                        <li>
                            <a routerLink="/">
                                Chính sách và bảo mật thông tin
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="footer-widget ps-5">
                    <h3>Thông tin</h3>
                    <ul class="footer-list">
                        <li>
                            <a routerLink="/">
                                Tư vấn và chăm sóc khách hàng: 0123456789
                            </a>
                        </li>
                        <li>
                            <a routerLink="/">
                                Email: abc@gmail.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-shape">
        <div class="footer-shape1">
            <img src="assets/images/shape/shape-bg.png" alt="shape-image">
        </div>
        <div class="footer-shape2">
            <img src="assets/images/shape/shape1.png" alt="shape-image">
        </div>
        <div class="footer-shape3">
            <img src="assets/images/shape/shape2.png" alt="shape-image">
        </div>
    </div>
</footer>

<!-- Copyright -->
<div class="copyright-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="copy-right-text">
                    <p>© Trung Anh</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="copy-right-social">
                    <ul class="social-link">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
