<p-toast></p-toast>
<div class="container-fluid">
  <!-- <app-page-title title="Điểm danh" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
      <div class="card">
        <div class="card-body">
          <h2>Quản lý sản phẩm</h2>
          <div class="row my-4">
            <div class="col-md-2">
              <label>Tên sản phẩm</label>
              <input type="text" class="form-control"[(ngModel)]="searchRequest['keySearch']" (keyup)="getData()">
            </div>
            <div class="col-md-2">
              <label>Danh mục</label>
              <select name="category" id="category"[(ngModel)]="searchRequest['categoryId']" class="form-select" (change)="getData()">
                <option value="">Tất cả</option>
                <option *ngFor="let category of lstCategory" [value]="category.CATEGORY_ID">{{ category.CATEGORY_NAME }}</option>
              </select>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-2">
            </div>

          </div>
          <div class="row mb-3">
            <div class="col-md-9"></div>
            <div class="col-md-3">
              <div class="text-end">
                <div class="d-flex">
                  <button class="btn btn-success btn-rounded mx-2 " (click)="addProduct()">Thêm bằng Excel</button>
                  <button class="btn btn-primary btn-rounded text-end" (click)="addProduct()">Thêm sản phẩm</button>
                </div>
              </div>
            </div>
          </div>
          <p-table responsiveLayout="scroll" [value]="lstProduct" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10,25,50]"
          [rowHover]="true">
          <ng-template pTemplate="header">
              <tr >
                <th>STT</th>
                <th>Ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Danh mục</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-i="rowIndex">
              <tr>
                <td>{{ i+1 }}</td>
                <td>
                    <img class="avatar-md" [src]="item.IMAGE" alt="">
                </td>
                <td>{{ item.PRODUCT_NAME }}</td>
                <td>{{ item.CATEGORY_NAME }}</td>
                <td>{{ item.PRICE | number }} VND</td>
                <td>{{ item.QUANTITY }}</td>
                <td>
                  <div class="d-flex">
                    <i class="bx bx-edit-alt fs-4 mx-1 edit" (click)="edit(item)"></i>
                    <i class="bx bx-trash fs-4 mx-1 del" (click)="delete(item)"></i>
                  </div>
                </td>
              </tr>
          </ng-template>
        </p-table>
        </div>
      </div>
</div>
