<div class="team-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Meet with Talented People From Futo</h2>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author1.jpg" alt="author-image">
                    <h3>
                        Olivia Jenar
                    </h3>
                    <span>Entrepreneur & Investor</span>
                    <p>Lorem ipsum dolor sit amet, elit Velit egestas mattis.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author2.jpg" alt="author-image">
                    <h3>
                        James Parker
                    </h3>
                    <span>American DJ & Producer</span>
                    <p>Lorem ipsum dolor sit amet, elit Velit egestas mattis.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author3.jpg" alt="author-image">
                    <h3>
                        Lucas Adison
                    </h3>
                    <span>Entrepreneur & Author</span>
                    <p>Lorem ipsum dolor sit amet, elit Velit egestas mattis.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author4.jpg" alt="author-image">
                    <h3>
                        Amelia Rosia
                    </h3>
                    <span>CEO & Co-founder of Futo</span>
                    <p>Lorem ipsum dolor sit amet, elit Velit egestas mattis.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author5.jpg" alt="author-image">
                    <h3>
                        Elpizo Choi
                    </h3>
                    <span>Co-founder of EnvyTheme</span>
                    <p>Lorem ipsum dolor sit amet, elit Velit egestas mattis.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author6.jpg" alt="author-image">
                    <h3>
                        Jesa Alverza
                    </h3>
                    <span>Actor & Producer</span>
                    <p>Lorem ipsum dolor sit amet, elit Velit egestas mattis.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author7.jpg" alt="author-image">
                    <h3>
                        Thomas Jenar
                    </h3>
                    <span>CEO of ET</span>
                    <p>Lorem ipsum dolor sit amet, elit Velit egestas mattis.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author8.jpg" alt="author-image">
                    <h3>
                        Jesse Anvila
                    </h3>
                    <span>Manager of Futo</span>
                    <p>Lorem ipsum dolor sit amet, elit Velit egestas mattis.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author9.jpg" alt="author-image">
                    <h3>
                        Kyt Thomson
                    </h3>
                    <span>Head Of Operations</span>
                    <p>Lorem ipsum dolor sit amet, elit Velit egestas mattis.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author10.jpg" alt="author-image">
                    <h3>
                        Elon Morgan
                    </h3>
                    <span>Manage Marketplace</span>
                    <p>Lorem ipsum dolor sit amet, elit Velit egestas mattis.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author11.jpg" alt="author-image">
                    <h3>
                        Emilia Adison
                    </h3>
                    <span>Director of EnvyTheme</span>
                    <p>Lorem ipsum dolor sit amet, elit Velit egestas mattis.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author12.jpg" alt="author-image">
                    <h3>
                        Aria Jule
                    </h3>
                    <span>Support</span>
                    <p>Lorem ipsum dolor sit amet, elit Velit egestas mattis.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="team-shape">
        <img src="assets/images/shape/team-shape.png" alt="shape-image">
    </div>
</div>