<app-homethree-banner></app-homethree-banner>

<div class="container">
    <h2 style="color:rgb(211, 16, 81)">Hôm nay có gì hot??</h2>
    <app-connect-wallet-page></app-connect-wallet-page>
        <div class="d-flex justify-content-evenly">
            <div class="p-2">
                <img src="https://theme.hstatic.net/1000246282/1000726217/14/banner-center-1.jpg?v=1415" alt="">
            </div>
            <div class="p-2" style="bottom: 0; max-width: 750px;">
                <div>
                    <img src="https://theme.hstatic.net/1000246282/1000726217/14/banner-center-3.jpg?v=1415" alt="">
                </div>
                <!-- <div>
                    <img src="https://theme.hstatic.net/1000246282/1000726217/14/banner-center-4.jpg?v=1415" alt="">
                </div> -->

            </div>
            <div class="p-2">
                <img src="https://theme.hstatic.net/1000246282/1000726217/14/banner-center-1.jpg?v=1415" alt="">

            </div>
        </div>
</div>


<app-feedback></app-feedback>
