<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.qlrl.repository.PromotionRepository">

    <select id="getAll" resultType="map">
        SELECT * FROM promotion
    </select>

    <insert id="addPromotion" parameterType="map">
        INSERT INTO promotion
        (PROMOTION_KEY,
        PROMOTION_NAME,
        VALUE,
        START_DATE,
        END_DATE)
        VALUES
        (
        #{promotionKey},
        #{promotionName},
        #{value},
        #{startTime},
        #{endTime}
        )
    </insert>

    <update id="updatePromotion" parameterType="map">
        UPDATE promotion SET
        PROMOTION_KEY = #{promotionKey},
        PROMOTION_NAME = #{promotionName},
        VALUE = #{value},
        START_DATE = #{startTime},
        END_DATE = #{endTime}
        WHERE  PROMOTION_ID = #{promotionId}
    </update>

    <delete id="deletePromotion" parameterType="map">
        DELETE FROM promotion WHERE PROMOTION_ID = #{promotionId}
    </delete>

</mapper>