<!-- Page Banner -->
<div class="inner-banner inner-bg6">
    <div class="container">
        <div class="inner-title">
            <h1>Đăng nhập để tiếp tục</h1>
            <div class="inner-shape">
                <img src="assets/images/inner-banner/inner-shape1.png" alt="shape">
                <img src="assets/images/inner-banner/inner-shape2.png" alt="shape">
            </div>
        </div>
    </div>
</div>

<!-- Login -->
<p-toast></p-toast>
<div class="user-area ptb-100">
    <div class="container">
        <div class="user-all-form" style="background:#ebebeb;">
            <form>
                <div class="form-group">
                    <label>Tên đăng nhập</label>
                    <input type="text" class="form-control" name="userName" [(ngModel)]="userName">
                </div>
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input class="form-control" type="password" name="password" [(ngModel)]="password">
                </div>
                <div class="text-center">
                    <button type="submit" class="default-btn" (click)="login()">Đăng nhập</button>
                </div>
                <p>Chưa có tài khoản? <a routerLink="/register">Đăng ký</a></p>
            </form>
        </div>
    </div>
</div>
