<!-- Collections -->
<div class="collections-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Hot Collections</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="collections-card">
                    <div class="image">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img1.jpg" alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img2.jpg" alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img3.jpg" alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img4.jpg" alt="nft-image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="collections-user">
                            <img src="assets/images/author/author12.jpg" alt="nft-image">
                        </div>
                        <h3>
                            <a routerLink="/collection">
                                Wrapped Crypto
                            </a>
                        </h3>
                        <span>ETH - 11,256</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="collections-card">
                    <div class="image">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img5.jpg" alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img4.jpg" alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img7.jpg" alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img8.jpg" alt="nft-image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="collections-user">
                            <img src="assets/images/author/author11.jpg" alt="nft-image">
                        </div>
                        <h3>
                            <a routerLink="/collection">
                                Art Blocks
                            </a>
                        </h3>
                        <span>ETH - 12,256</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="collections-card">
                    <div class="image">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img9.jpg" alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img10.jpg" alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img11.jpg" alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img12.jpg" alt="nft-image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="collections-user">
                            <img src="assets/images/author/author10.jpg" alt="nft-image">
                        </div>
                        <h3>
                            <a routerLink="/collection">
                                Hashmasks
                            </a>
                        </h3>
                        <span>ETH - 11,764</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="collections-card">
                    <div class="image">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img13.jpg" alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img14.jpg" alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img15.jpg" alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src="assets/images/nft/nft-img2.jpg" alt="nft-image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="collections-user">
                            <img src="assets/images/author/author9.jpg" alt="nft-image">
                        </div>
                        <h3>
                            <a routerLink="/collection">
                                Inventory
                            </a>
                        </h3>
                        <span>ETH - 13,264</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>