
<p-toast></p-toast>
<!-- Item Details -->
<div class="item-details-area pt-100">
    <div class="container">
        <h2 style="color:rgb(211, 16, 81); margin-bottom:50px">Giỏ hàng</h2>

        <div class="row mx-5">
            <h3 class="text-center my-5" *ngIf="lstProduct.length <= 0">Hiện không có sản phẩm nào trong giỏ hàng</h3>
            <div class="col-md-8 " style="padding-left:0; border-radius:5px;" *ngIf="lstProduct.length > 0">
                <div class="card-item row my-1" *ngFor="let item of lstProduct">
                    <div class="col-md-2 px-0">
                        <img style="border-radius:5px;" src="https://product.hstatic.net/1000246282/product/1_bea109509dd7499883834e5d7faa2c81.png" alt="nft-image">
                    </div>
                    <div class="col-md-7" style="position: relative;">
                        <div style="margin: 0;position: absolute; top: 50%; transform: translateY(-50%);">
                            <p class="product-name" >{{ item.PRODUCT_NAME }}</p>
                            <p *ngIf="!item.VALUE" style="color:rgb(211, 16, 81);">{{ item.PRICE | number }}VND</p>
                            <p *ngIf="item.VALUE" style="color:rgb(211, 16, 81);">{{ item.PRICE * (100 - item.VALUE) / 100 | number }}VND</p>
                        </div>
                    </div>
                    <div class="col-md-3"style="position: relative;">
                        <div class="d-flex justify-content-end" style="position: absolute;
                        top: 50%;
                        transform: translateY(-50%);">
                            <div class="input d-flex" style="position: relative;">
                                <i class="ri-indeterminate-circle-line"style="font-size:1.5rem;" (click)="reduceQuantity(item)"></i>
                                <input style="width: 60px;height: 40px" type="number"  min="1" [(ngModel)]="item.QUANTITY" class="form-control">
                                <i class="ri-add-circle-line"style="font-size:1.5rem;" (click)="addQuantity(item)"></i>
                            </div>
                            <div class="mx-4 delete">
                                <i class="ri-delete-bin-7-line" style="font-size:1.5rem;" (click)="delete(item)"></i>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-4" style="padding-left:20px;" *ngIf="lstProduct.length > 0">
                <h2>Tổng tiền:</h2>
                <h3 class="text-end" style="color:rgb(211, 16, 81);">{{ total | number }}VND</h3>
                <h4>Giảm giá: </h4>
                <button class="default-btn w-100" (click)="goToPayment()">Thanh toán</button>
            </div>
        </div>
 </div>
</div>

