<div class="top-sellers-area pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Top Sellers</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-6 col-sm-4 col-md-4">
                <div class="top-sellers-item">
                    <div class="number">1.</div>
                    <div class="image">
                        <a routerLink="/author-profile">
                            <img src="assets/images/author/author1.jpg" alt="author-image">
                        </a>
                        <i class="ri-check-line"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/author-profile">
                                Benjamin Doe
                            </a>
                        </h3>
                        <span>129.301 ETH</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-6 col-sm-4 col-md-4">
                <div class="top-sellers-item">
                    <div class="number">2.</div>
                    <div class="image">
                        <a routerLink="/author-profile">
                            <img src="assets/images/author/author2.jpg" alt="author-image">
                        </a>
                        <i class="ri-check-line"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/author-profile">
                            Evelyn Adison
                            </a>
                        </h3>
                        <span>130.201 ETH</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-6 col-sm-4 col-md-4">
                <div class="top-sellers-item">
                    <div class="number">3.</div>
                    <div class="image">
                        <a routerLink="/author-profile">
                            <img src="assets/images/author/author3.jpg" alt="author-image">
                        </a>
                        <i class="ri-check-line"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/author-profile">
                                Aria July
                            </a>
                        </h3>
                        <span>120.101 ETH</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-6 col-sm-4 col-md-4">
                <div class="top-sellers-item">
                    <div class="number">4.</div>
                    <div class="image">
                        <a routerLink="/author-profile">
                            <img src="assets/images/author/author4.jpg" alt="author-image">
                        </a>
                        <i class="ri-check-line"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/author-profile">
                                James Andy
                            </a>
                        </h3>
                        <span>124.101 ETH</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-6 col-sm-4 col-md-4">
                <div class="top-sellers-item">
                    <div class="number">5.</div>
                    <div class="image">
                        <a routerLink="/author-profile">
                            <img src="assets/images/author/author5.jpg" alt="author-image">
                        </a>
                        <i class="ri-check-line"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/author-profile">
                                Sebastian Farnil
                            </a>
                        </h3>
                        <span>127.301 ETH</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-6 col-sm-4 col-md-4">
                <div class="top-sellers-item">
                    <div class="number">6.</div>
                    <div class="image">
                        <a routerLink="/author-profile">
                            <img src="assets/images/author/author6.jpg" alt="author-image">
                        </a>
                        <i class="ri-check-line"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/author-profile">
                                Henry Martina
                            </a>
                        </h3>
                        <span>128.301 ETH</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-6 col-sm-4 col-md-4">
                <div class="top-sellers-item">
                    <div class="number">7.</div>
                    <div class="image">
                        <a routerLink="/author-profile">
                            <img src="assets/images/author/author7.jpg" alt="author-image">
                        </a>
                        <i class="ri-check-line"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/author-profile">
                                Daniel Adams
                            </a>
                        </h3>
                        <span>130.301 ETH</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-6 col-sm-4 col-md-4">
                <div class="top-sellers-item">
                    <div class="number">8.</div>
                    <div class="image">
                        <a routerLink="/author-profile">
                            <img src="assets/images/author/author8.jpg" alt="author-image">
                        </a>
                        <i class="ri-check-line"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/author-profile">
                                Julian Rin
                            </a>
                        </h3>
                        <span>120.201 ETH</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-6 col-sm-4 col-md-4">
                <div class="top-sellers-item">
                    <div class="number">9.</div>
                    <div class="image">
                        <a routerLink="/author-profile">
                            <img src="assets/images/author/author9.jpg" alt="author-image">
                        </a>
                        <i class="ri-check-line"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/author-profile">
                                Samuel Anvi
                            </a>
                        </h3>
                        <span>130.201 ETH</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-6 col-sm-4 col-md-4">
                <div class="top-sellers-item">
                    <div class="number">10.</div>
                    <div class="image">
                        <a routerLink="/author-profile">
                            <img src="assets/images/author/author10.jpg" alt="author-image">
                        </a>
                        <i class="ri-check-line"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/author-profile">
                                Emilia Adison
                            </a>
                        </h3>
                        <span>124.201 ETH</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-6 col-sm-4 col-md-4">
                <div class="top-sellers-item">
                    <div class="number">11.</div>
                    <div class="image">
                        <a routerLink="/author-profile">
                            <img src="assets/images/author/author11.jpg" alt="author-image">
                        </a>
                        <i class="ri-check-line"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/author-profile">
                                Muhammad Ali
                            </a>
                        </h3>
                        <span>127.201 ETH</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-6 col-sm-4 col-md-4">
                <div class="top-sellers-item">
                    <div class="number">12.</div>
                    <div class="image">
                        <a routerLink="/author-profile">
                            <img src="assets/images/author/author12.jpg" alt="author-image">
                        </a>
                        <i class="ri-check-line"></i>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/author-profile">
                                Alexander Luis
                            </a>
                        </h3>
                        <span>129.201 ETH</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>