@import "../../common/blog/blog.component.scss";

.pagination-area {
    margin-bottom: 30px;
}
.blog-card {
    .content {
        padding: 25px;
    }
}

@media only screen and (max-width: 767px){

    .blog-card {
        .content {
            padding: 15px;
        }
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px){

    .blog-card {
        .content {
            padding: 20px;
        }
    }

}