<div class="navbar-area" ngStickyNav stickyClass="sticky-box-shadow" ngStickyNav>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-xl navbar-light bg-light" [class.active]="classApplied">
            <a class="" routerLink="/" style="max-width:250px">
                <img src="assets/images/black-logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" (click)="toggleClass()">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse d-block" id="navbarSupportedContent">
                <div>
                    <form class="search-box">
                        <input type="text" class="input-search" autocomplete="off" name="keySearch" [(ngModel)]="keySearch" (keyup)="search()" placeholder="Search items, Creators">
                        <button type="submit">
                            <i class="ri-search-line"></i>
                        </button>
                    </form>
                    <div class="result mt-1"  *ngIf="keySearch != ''">
                        <ngx-simplebar [options]="options">
                            <h4 style="padding:20px">Kết quả tìm kiếm cho <span style="color:rgb(211, 16, 81)">"{{ keySearch }}"</span> </h4>
                            <div *ngIf="lstProduct.length > 0">
                                <div  class="result-lst" *ngFor="let item of lstProduct">
                                    <div  class="d-flex item-result" (click)="goToDetail(item)">
                                        <img class="img-item-result" [src]="srcImg + item.IMAGE" alt="wallet">
                                        <div style="margin-left: 5px;">
                                            <p>{{ item.PRODUCT_NAME }}</p>
                                            <h5 style="color:rgb(211, 16, 81)">{{ item.PRICE | number}}VND
                                                <!-- <span style="text-decoration: line-through;color:rgb(77, 77, 77)">5235</span> -->
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center" *ngIf="lstProduct.length == 0">
                                Không tìm thấy kết quả
                            </div>
                          </ngx-simplebar>
                    </div>
                </div>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a routerLink="/" href="javascript:void(0)" class="nav-link">
                            Trang chủ
                        </a>
                    </li>
                    <li class="nav-item text-danger">
                        <a href="javascript:void(0)" class="nav-link" (click)="goToPC(0,'Khuyến mại')">
                            Khuyến mại
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle">
                            Danh mục sản phẩm
                        </a>
                        <ul class="dropdown-menu" style="cursor: pointer;">
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="goToPC(1,'Trang điểm')">
                                    Trang điểm
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="goToPC(2,'Chăm sóc da')">
                                    Chăm sóc da
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="goToPC(3,'Chăm sóc cơ thể')">
                                    Chăm sóc cơ thể
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="goToPC(4, 'Chăm sóc tóc')">
                                    Chăm sóc tóc
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="goToPC(5,'Chăm sóc sức khỏe')">
                                    Chăm sóc sức khỏe
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="goToPC(6,'Phụ kiện')">
                                    Phụ kiện
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="goToPC(7,'Dành cho nam')">
                                    Dành cho nam
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a routerLink="/" href="javascript:void(0)" class="nav-link">
                            Liên hệ với chúng tôi
                        </a>
                    </li>

                    <li class="nav-item" *ngIf="isLoggedIn()">
                        <a routerLink="/my-order" href="javascript:void(0)" class="nav-link">
                            Đơn hàng của tôi
                        </a>
                    </li>
                </ul>
                <!-- <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle">
                            Home
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Home Demo - 1
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/index-2" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Home Demo - 2
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/index-3" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Home Demo - 3
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle">
                            Explore
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/live-auctions" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Live Auctions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/explore-1" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Explore Style One
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/explore-2" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Explore Style Two
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/explore-3" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Explore Style Three
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/explore-4" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Explore Style Four
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/explore-5" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Explore Style Five
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/explore-6" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Explore Style Six
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/explore-7" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Explore Style Seven
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/collection" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Collection
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/item-details" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Item Details
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/activity" class="nav-link">
                            Activity
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle">
                            Pages
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/authors" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Authors
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/author-profile" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Author Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/create" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Create
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/connect-wallet" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Wallet Connect
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/login" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/register" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/terms-conditions" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Terms & Conditions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/privacy-policy" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/not-found" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    404 Error Page
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle">
                            Community
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/blog" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Blog Grid
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/blog-details" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Blog Details
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/faq" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Help Center
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/about" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    About Us
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link">
                            Contact Us
                        </a>
                    </li>
                </ul> -->
                <ul class="navbar-nav for-responsive">
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle">
                            Home
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Home Demo - 1
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/index-2" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Home Demo - 2
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/index-3" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Home Demo - 3
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle">
                            Explore
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/live-auctions" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Live Auctions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/explore-1" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Explore Style One
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/explore-2" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Explore Style Two
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/explore-3" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Explore Style Three
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/explore-4" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Explore Style Four
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/explore-5" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Explore Style Five
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/explore-6" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Explore Style Six
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/explore-7" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Explore Style Seven
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/collection" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Collection
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/item-details" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Item Details
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/activity" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Activity
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle">
                            Pages
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/authors" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Authors
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/author-profile" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Author Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/create" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Create
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/connect-wallet" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Wallet Connect
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/login" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Login
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/register" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Register
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/terms-conditions" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Terms & Conditions
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/privacy-policy" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/not-found" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    404 Error Page
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle">
                            Community
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a routerLink="/blog" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Blog Grid
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/blog-details" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Blog Details
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/faq" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    Help Center
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/about" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    About Us
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link" (click)="toggleClass()" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Contact Us
                        </a>
                    </li>
                </ul>
                <div class="others-option d-flex align-items-center">
                    <div routerLink="/login" class="option-item mx-2 login" *ngIf="!isLoggedIn()">
                        <i class="ri-user-line" style="font-size:25px"></i>
                    </div>
                    <div routerLink="/shopping-cart" class="option-item mx-2 cart" *ngIf="isLoggedIn()">
                        <i class="ri-shopping-bag-2-line"style="font-size:25px" ></i>
                        <span class="cart-counter">{{ numberInCart }}</span>
                    </div>
                    <div class="option-item log-out" *ngIf="isLoggedIn()">
                        <i class="ri-logout-circle-r-line" style="font-size: 22px;" (click)="logout()"></i>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
